* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  border: 1px solid rgb(228, 228, 228);
  margin: 20px auto 0 auto;
  border-radius: 2rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2rem 0;
  border-bottom: 1px solid rgb(228, 228, 228);
}

h1 {
  font-size: 25px;
}

.container {
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  overflow-wrap: normal;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.controller {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#message {
  width: 100%;
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(228, 228, 228);
}

.btn-send {
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid rgb(228, 228, 228);
  color: black;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #fefefe;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 2rem;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

#username-input {
  min-width: 250px;
  outline: none;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(228, 228, 228);
}